

h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 200;
}
.container{
    /* border: solid 10px blue; */
    height: 100vh;
    display: flex;
    justify-content: center;
     
}
.container .card-container{
    /* border: solid 2px red; */
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5em;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #dbdbdb,
                 -5px -5px 10px #ffffff;
 
}

.card-container .image-container .image{
    /* border: solid 2px purple; */
    width: 180px;
    height: 90px;
    margin-top: 3em; 
}

.card-container .card{
    /* border: solid 2px brown; */
    margin-top: 3em;
    width: 85%;
}

.card input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;

}
.input-spacing{
    width: 98%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.or{
    margin-left: 138px; 
    padding-left: 22px;
}

.btn {
    background: #dd6322;
    border-radius: 0px;
    color: #ffffff;
    font-size: 16px;
  }
  
  .btn:hover {
    background: #ea661e;
    
    text-decoration: none;
  }